<header>
  <div class="container">
    <h1>Premium gaming servers</h1>
    <h2>Chicken hamburger strip steak spare ribs venison.</h2>
  </div>

  <div class="header-image-container">
    <%= image_tag "gaming-minecraft.png", class: "img-left"  %>
    <%= image_tag "gaming-fps.png", class: "img-center" %>
    <%= image_tag "gaming-space.png", class: "img-right" %>
  </div>
</header>

<div id="info"></div>
