<div class="header-bg"></div>
<header>
  <div class="container">
    <h1>Premium gaming servers</h1>
    <h2>Configure and scale on demand</h2>
  </div>
</header>

<div id="info">
  <div class="container">

    <h3>Start playing now</h3>

    <hr/>

    <div class="row row-centered">
      <a href="#" class="col-xs-4 col-centered">
        <h4>Minecraft</h4>
      </a>
      <a href="#" class="col-xs-4 col-centered">
        <h4>CS: Source</h4>
      </a>
    </div>

    <div class="row row-centered">
      <a href="#" class="col-xs-4 col-centered">
        <h4>Space Engineers</h4>
      </a>
      <a href="#" class="col-xs-4 col-centered">
        <h4>More games...</h4>
      </a>
    </div>
  </div>
</div>
