<header>
  <div class="container">
    <h1>Whitefish</h1>

    <h2>Premium gaming servers.</h2>
  </div>
</header>

<div id="info">
  <div class="container">
    <div class="row">
      <article class="col-md-4">
        <h3>Scale on demand</h3>
      </article>

      <article class="col-md-4">
        <h3>24/7 Support</h3>
      </article>

      <article class="col-md-4">
        <h3>Get started &raquo;</h3>
      </article>
    </div>
  </div>
</div>
