<header>
  <div class="container">
    <h1>Premium gaming servers</h1>
    <h2>Configure and scale on demand</h2>
  </div>
</header>

<div id="gaming-now">
  <div class="container">

    <h3>Start playing now</h3>

    <hr/>

    <div class="row row-centered">
      <a href="#" class="col-md-4 col-centered">
        <h4>Minecraft</h4>
      </a>
      <a href="#" class="col-md-4 col-centered">
        <h4>CS: Source</h4>
      </a>
    </div>

    <div class="row row-centered">
      <a href="#" class="col-md-4 col-centered">
        <h4>Space Engineers</h4>
      </a>
      <a href="#" class="col-md-4 col-centered">
        <h4>More games...</h4>
      </a>
    </div>
  </div>
</div>

<div id="server-info">
  <div class="container">
    <div id="si-config" class="row">
      <span class="col-md-6">
        <h4>QUICK TO CONFIGURE</h4>
        <p>Get up and running in minutes.</p>
      </span>

      <span class="col-md-6">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      </span>
    </div>

    <div id="si-scalablity" class="row">
      <span class="col-md-6">
        <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
      </span>

      <span class="col-md-6">
        <h4>SCALE ON DEMAND</h4>
        <p>Add extra gaming power with the click of a mouse.</p>
      </span>
    </div>

    <div id="si-uptime" class="row">
      <span class="col-md-6">
        <h4>MASSIVE UPTIME</h4>
        <p>Built and tested on the time tested Amazon AWS Cloud service platform.</p>
      </span>

      <span class="col-md-6">
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      </span>
    </div>
  </div>

  <footer>
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="#">Help</a>
    <span>WhiteFish &#169; <%= Time.now.year %></span>
  </footer>
</div>
