header {
  padding: 15rem 0;
  text-align: center;
  position: relative;
  background-image: asset-url("footer_lodyas.png");

  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
  }

  h2 {
    font-size: 2.25rem;
    max-width: 40rem;
    margin: 1rem auto;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
  }
}

#gaming-now {
  padding: 10rem 0;

  h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 3rem;
  }

  hr {
    border: 2px solid;
    max-width: 27rem;
    margin: 1rem auto 5rem auto;
  }

  a {
    background: #5C4040;
    margin: 1rem;
    padding: 5rem;
    text-decoration: none;
    min-width: 32rem;
    color: #fff;

    // TODO: make mixin
    -webkit-transition: background 0.25s;
    transition: background 0.25s;

    h4 {

      text-transform: uppercase;
      text-align: center;
      font-size: 2.75rem;
    }

    &:hover {
      background: #8F6464;
    }
  }
}

#server-info {
  background: #333;

  .row {

    &#scale span:first-of-type {
      @media (min-width: 990px) {
        float: right;
      }
    }

    max-width: 60rem;
    margin: 10rem auto;
    text-align: center;

    .glyphicon {
      color: #fff;
      font-size: 15rem;
      margin: 3rem;
    }

    h4 {
      display: inline-block;
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
      letter-spacing: 0.05rem;
    }

    h4,
    p {
      color: #fff;
    }
  }
}
